global:
  scrape_interval: 10s 
  evaluation_interval: 10s
  scrape_timeout: 10s

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:

  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
    - targets: ['localhost:9100']

  - job_name: 'actuator'
    metrics_path: '/actuator/prometheus'
    static_configs:
    - targets: ['localhost:8080']

